.explore{
    padding:80px 8%;
}

.explore h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
}

.destination-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.search-box{
    display:block;
    width:350px;
    margin:0 auto 50px;
    padding:14px;
    font-size:16px;
    border-radius:10px;
    border:1px solid #ddd;
    outline:none;
}

.search-box:focus{
    border-color:#2E7D32;
}

.category-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:40px;
    flex-wrap:wrap;
}

.category-buttons button{
    padding:10px 20px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    background:#E8F5E9;
    transition:.3s;
}

.category-buttons button:hover{
    background:#2E7D32;
    color:white;
}
.active-category{
    background:#2E7D32 !important;
    color:white;
}