/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 60px;
    background-color: white;

    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.nav-left{
    display:flex;
    align-items:center;
    gap:40px;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}
/* Logo */

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #2E7D32;
    cursor: pointer;
}

/* Navigation Links */

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #2E7D32;
}

/* Buttons */

.nav-buttons {
    display: flex;
    gap: 15px;
}

.login-btn,
.signup-btn {
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.login-btn {
    background: transparent;
    border: 1px solid #2E7D32;
    color: #2E7D32;
}

.signup-btn {
    background: #2E7D32;
    color: white;
    border: none;
}

.signup-btn:hover {
    background: #256428;
}

/* ==========================
   Responsive Navbar
========================== */

.menu-btn{
    display:none;
    background:none;
    border:none;
    font-size:28px;
    cursor:pointer;
}
.desktop-nav{
    display:flex;
}

@media (max-width:768px){

    .desktop-nav{
        display:none;
    }

    .menu-btn{
        display:block;
    }

    .nav-buttons{
        display:none;
    }

}