/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 60px;
    background-color: white;

    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* Logo */

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #2E7D32;
}

/* Navigation Links */

.nav-links {
    display: flex;
    gap: 35px;

    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #2E7D32;
}

/* Buttons */

.nav-buttons {
    display: flex;
    gap: 15px;
}

.login-btn,
.signup-btn {
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.login-btn {
    background: transparent;
    border: 1px solid #2E7D32;
    color: #2E7D32;
}

.signup-btn {
    background: #2E7D32;
    color: white;
    border: none;
}

.signup-btn:hover {
    background: #256428;
}